name: Build & Test & Release
on: [push]

jobs:
    build:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v3

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: '1.20'

            - name: Build
              run: make build

            - name: Test
              run: make test

            - name: Test report
              if: always() && !contains(github.event.head_commit.message, '!test skip')
              uses: phoenix-actions/test-reporting@v8
              with:
                  name: Tests
                  path: "junit.xml"
                  reporter: java-junit

            - name: Coverage report
              if: always() && !contains(github.event.head_commit.message, '!test skip')
              uses: slavcodev/coverage-monitor-action@v1
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                coverage_path: "coverage.out"
